version: "3.8"

services:
  backend:
    build: ./backend
    container_name: edu-nova-backend
    expose:
      - "5000"
    env_file:
      - ./backend/.env
    restart: always

  frontend:
    build: ./frontend
    container_name: edu-nova-frontend
    expose:
      - "80"
    restart: always

  nginx:
    image: nginx:alpine
    container_name: edu-nova-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - frontend
      - backend
    restart: always
