version: "3.8"

services:
  backend:
    build: ./backend
    container_name: edu-nova-backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    restart: always

  frontend:
    build: ./frontend
    container_name: edu-nova-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always
