version: "3.8"

services:
  backend:
    build: ./backend
    container_name: edu-nova-backend
    expose:
      - "5000"
    env_file:
      - ./backend/.env
    restart: always

  frontend:
    build: ./frontend
    container_name: edu-nova-frontend
    expose:
      - "80"
    restart: always

  nginx:
    image: nginx:alpine
    container_name: edu-nova-nginx
    ports:
      - "80:80"
    volumes:
      - ./frontend/dist:/usr/share/nginx/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
    networks:
      - edu-net
